body{
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: black;
  background-color: #FFF19A;
}

header{
height: 50px;
background-color: #FFF19A;
}

img.head{
height: 50px;
float: left;
}

a{
  font-size: 16px;
  color: #bd0d00;
  margin-left: 10px;
  border-radius: 4px;
  }

a:hover{
  color: #bd0d00;
  font-weight: bold;
  }

h1{color: #bd0d00;
  font-weight: bold;
}

/* mobile first, anders: */
@media only screen and (min-width: 576px) {
body{
font-size: 16px;
}
} /* einde media*/

table{
  border-collapse: collapse;
  }

td{padding: 10px;}
.tdt{padding-top: 40px;}
.tdl{padding-left: 40px;}

h3{font-family: Comic, cursive;
}

input[type="text"], input[type="email"], textarea, button{
  display: block;
  padding: 5px;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: 400px;
  box-sizing: border-box;
}

textarea{height: 100px;padding: 5px 4px;}

button:active{background-color: #bd0d00;
  color: white;
  border-radius: 4px;
}

footer{
background-color: #bd0d00;
color: white;
font-size: 14px;
float: left;
/* de opdracht zegt 200px, ik heb er 20px van gemaakt*/
min-height: 20px;
width: 100%;
bottom: 0;}

img.foot{
  height: 33px;
  float: left;}
